{%extends 'startblog/base.html'%}
{%load static%}
{%block content%}
{%load crispy_forms_tags%}
<section >
    <div class="container">

      <div class="">
        <h2>Bloger :{{blog.bloger}} </h2>
        
      </div>
      </section>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        
    {{form|crispy}}
    <input type="file" name='images' multiple><br>
    
    <button class = "btn btn-primary" type="submit">Update</button>
</form>
</div>
{%endblock%}