{%load static%}
  <!-- Favicons -->
 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'startblog/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'startblog/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'startblog/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'startblog/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'startblog/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->   
  <link href="{% static 'startblog/assets/css/style.css' %}" rel="stylesheet">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        
      <div class="logo me-auto">
        <h1><a href="{%url 'startblog:home'%}">U-Blog</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
     
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            {%if request.user.is_authenticated%}
          <li><a class="nav-link scrollto active"> Hi {{request.user}}<t>!</t></a></li>
          <li><a class="nav-link scrollto" href="{%url 'blogapp:logout'%}">Logut</a></li>
          {%else%}
          <li><a class="nav-link scrollto active" a href="{% url 'blogapp:user_login'%}"> Login</a></li>
         
          {%endif%}
          {%if request.user.is_superuser%}
          <li><a class="nav-link scrollto" href="{%url 'blogapp:home'%}">Admin page</a></li>
          {%endif%}
          {%if request.user.is_authenticated%}
          <li><a class="nav-link scrollto" href="{%url 'startblog:user_profile' %}">Profile</a></li>
          {%endif%}

         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     

    </div>
  </header><!-- End Header -->