{%extends 'blogapp/base.html'%}
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%block content%}
<p>
{%if user.is_authenticated%}
  Welcome {{request.user}}  <br>
  
  <a href="{% url 'blogapp:logout' %}"> <b>Logout</b></a>
  
  {%if request.user.is_superuser%}
  <a href="{% url 'blogapp:userlist'%}"><b>See users</a>
    {%endif%}
{%else%}
<a href="{% url 'blogapp:login' %}"> Login First</a>
{%endif%}    
{%endblock%}
