{%extends 'blogapp/base.html'%}
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


    
{%block content%} 
<section class="pt-5 pb-5">
    
<div class="container">
    <h1><b> User Details</b></h1>
    <div class="row">
<table class="table table-striped">
    <thead class='thead-light'>
      <tr>
        
        <th scope="col">User</th>
        <th scope="col">Details</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {%for ob in user%}
        <tr>
        <td>{{ob.username}}</td>
        <td><a href ="{%url 'blogapp:userdetails' ob.pk%}"> Details</a>  </td>
        {%if not ob.is_superuser%}  
        <td><a href ="{%url 'blogapp:admin_invites' ob.pk%}"> Make Admin</a> </td>
        {%else%}
        <td>Admin User</td>
        {%endif%}

      </tr>
      {%endfor%}
    </tbody>
  </table> 
</div>
</div>
</section>  
{%endblock%}

 

