<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Name :{{user.username}}<br>
    Admin :{{user.is_superuser}}<br>
    <a href = "{%url 'blogapp:userupdate' user.pk%}">Update</a>
    <a href = "{%url 'blogapp:userdelete' user.pk%}">Delete</a><br>
    <a href = "{% url 'blogapp:userlist'%}">Back</a>

</body>
</html>