{%extends 'blogapp/base.html'%}
{%load static%}
{% load crispy_forms_tags %} 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%block content%}
<section class="pt-5 pb-5">
    
    <div class="container">
        
        

    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Update">
    </form>
    </div>
    </section>
    {%endblock%}
    
