{%extends 'startblog/base.html'%}
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
{%block content%}
<section class="pt-5 pb-5">
    
    <div class="container">

    <form action="" method="post">
        {%csrf_token%}
    <h2><b>Do you want to delete</b></h2> <h2>{{user}} ?</h2>
    <input type="submit" value="Delete">
</form>
</div>
</section>
{%endblock%}